
.card__heading {
    font-size: 13px;
    font-weight: 700;
}

.underline-links-hover:hover .card__heading a{
    text-decoration: none;
}

.card-information .price {
    font-size: 10px;
    font-weight: 700;
}