.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}



/* Custom styling */

.newsletter {
      background: #F9F7F6;
      padding-top: 0;
      padding-bottom: 0;
}

.custom-newletter-row {
  border-bottom: .1rem solid rgba(18, 18, 18, .08);
  padding-top: 30px;
  padding-bottom: 39px;
}

@media screen and (min-width: 750px) {
  .custom-newletter-row {
    padding-top: 40px;
    padding-bottom: 52px;
  }
}

@media (min-width: 750px) {
  .newsletter__logo {
    width: 313px;
  }
}

@media (max-width: 749.98px) {
  .newsletter__logo {
      margin-bottom: 16px;
  }
}

.inline-richtext.custom-richtext {
  font-size: 19px;
  line-height: 22px;
  color: #292929;
  margin-bottom: 4px;
  text-align: left;
}